.MuiDrawer-root{
    background-color: rgba(0, 0, 0, 0);
}
.MuiDrawer-root .MuiBackdrop-root{
    background-color: rgba(0, 0, 0, 0);

}
.MuiBox-root{
    height: 100vh;

    padding: 0px !important;
}
/* .MuiPaper-root{
    background-color:   #030011;
    
} */

/* .MuiTypography-root{
    font-family: 'IBM Plex Sans', sans-serif !important;
    font-size: 1.4rem !important;
    color: #FAF0E6 !important;
} */
/* .MuiTypography-root:hover{
    font-size: 1.4rem !important;
    color: rgb(212, 50, 185) !important;

} */
