

.vogue{
    font-family: 'IBM Plex Sans', sans-serif !important;
}
span span{
    font-family: 'IBM Plex Sans', sans-serif !important;
}

.shadow{
    text-shadow: 0 0 4px #050502d0;
}


.frame {
    width: 400px;
    height: 410px;
    padding: 10px;
    border: 4px solid #1cd45f;
    font-family: "Roboto", serif;
    font-size: 20px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 0;
    transition: 1s;
  }
  
  .frame::before,
  .frame::after {
    position: absolute;
    background: #F9F9FA;
    z-index: -1;
    transition: 1s;
    content: "";
  }
  
  .frame::before {
    height: 529px;
    width: 200px;
    background: #F9F9FA;
  }
  
  .frame::after {
    width: 400px;
    height: 270px;
    background: white;

  }
  
  .noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
