.hero{
    background-image: url('/assets/images/bgflag.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
}


.vogue{
    font-family: 'IBM Plex Sans', sans-serif !important;
}
span span{
    font-family: 'IBM Plex Sans', sans-serif !important;
}

.shadow{
    text-shadow: 0 0 4px #050502d0;
}