
.gradient{
  background-color: blue; /* For browsers that do not support gradients */
  background-image: linear-gradient(rgb(8, 8, 136), rgb(133, 9, 85));
}

.gradient2{
  background-image: -webkit-linear-gradient( #0b0333, #050218);

}


.text-gradient{

  background: -webkit-linear-gradient(rgb(4, 0, 214), rgb(243, 41, 166));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-gradient2{
  background: linear-gradient(to right, #fafafa , rgb(226, 59, 190)); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}


.no-shadow{
    text-shadow: 0 0 0px;
}
